body {
  font-family: "Poppins", sans-serif;
  background: radial-gradient(rgb(255, 161, 40) 48%, rgb(251, 228, 195) 80%);
  background-repeat: no-repeat;
  background-size: auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url("../images/green-hoodie.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  padding: 200px;
}

header h1 {
  font-size: 98px;
  font-weight: 700;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 1.5px;
  margin-bottom: 30px;
}

header h3 {
  line-height: 1.5;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  background: white;
  color: black;
  text-decoration: none;
  padding: 16px 30px;
  display: inline-block;
}

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url("../images/cornrows-white-background.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 100px 0;
}

section {
  max-width: 1200px;
  margin: 0 auto;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  display: block;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
  line-height: 24px;
  display: block;
}

footer ul {
  padding: 0;
  display: block;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: list-item;
}

footer a {
  color: white;
  opacity: 0.7;
  cursor: pointer;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  header a {
    font-size: 7px;
    padding: 8px 15px;
  }
}
